# Nextflow runtime
work/
.nextflow/
.nextflow.log*
null/

# Pipeline outputs
results/
results_test*/
rnaseq_out_allsamples/
rnaseq_results/
diffab_*/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

fetchngs_out/
*.fastq.gz
*.bam
*.bai